@using MailGenerator.ViewModels.Shared
<table  cellpadding="0" cellspacing="0" align="center" style="width: 100%; background-color: #e5e5e5">
    <tbody>
        <tr>
            <td style="padding: 0 10px;">
                @Html.Partial("modules/_Heading", new Heading() { Tag = "h4", Align = "center", Color = "#778090", Padding = "10px", Text = "Chcesz na bieżąco dowiadywać się o najlepszych ofertach dostępnych w sieci?<br>Znajdź nas w social mediach!" })
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%;" align="center">
                    <tr>
                        <td style="width: 20%; padding: 5px 0"></td>
                        <td style="text-align: center; padding: 5px 0"><a href="https://www.facebook.com/CeneoPL/" style="text-decoration: none;"><img src="https://image2.ceneo.pl/data/newsletter/facebook1.png" alt="Facebook Ceneo.pl"></a></td>
                        <td style="text-align: center; padding: 5px 0"><a href="https://www.youtube.com/user/CENEO" style="text-decoration: none;"><img src="https://image2.ceneo.pl/data/newsletter/youtube.png" alt="Kanał YouTube Ceneo.pl"></a></td>
                        <td style="text-align: center; padding: 5px 0"><a href="https://www.instagram.com/ceneopl/" style="text-decoration: none;"><img src="https://image2.ceneo.pl/data/newsletter/instagram.png" alt="Instagram Ceneo.pl"></a></td>
                        <td style="width: 20%; padding: 5px 0"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="text-align:center; padding: 0 10px;">
                <font size="1" color="#778090" style="font-size: 11px; font-family: Arial, sans-serif;">Nadawcą wiadomości jest Ceneo.pl sp. z o.o. ul. Grunwaldzka 182, 60-166 Poznań KRS: 0000634928, NIP: 5252674781</font>
            </td>
        </tr>
        <tr>
            <td style="text-align:center; padding: 0 10px;">
                <font size="1" color="#778090" style="font-size: 11px; font-family: Arial, sans-serif;">List został wysłany zgodnie z ustawieniami powiadomień Twojego konta Ceneo.</font>
            </td>
        </tr>
        <tr>

            <td style="text-align:center; padding-bottom: 20px;">
                <a href="#" style="text-decoration: none; color: #0063ac; text-align:center;" id="newsletter-unsubscribe" title="Zrezygnuj z otrzymywania wiadomości"><font size="1" color="#0063ac" style="font-size: 11px; font-family: Arial, sans-serif;">Zrezygnuj</font></a> <font size="1" color="#778090" style="font-size: 11px; font-family: Arial, sans-serif;">z otrzymywania wiadomości</font>
            </td>

        </tr>
    </tbody>
</table>