@using MailGenerator.ViewModels.Shared
@model Heading


@{
    var Font = "font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;";
    var Weight = !string.IsNullOrEmpty(Model.Weight) ? String.Format("font-weight:{0};", Model.Weight) : "font-weight: normal;";
    var Color = !string.IsNullOrEmpty(Model.Color) ? String.Format("color:{0};", Model.Color) : null;
    var Align = !string.IsNullOrEmpty(Model.Align) ? String.Format("text-align:{0};", Model.Align) : null;
}

<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
    <tbody>
        <tr>
            <td style="padding: @Model.Padding; @((Model.Bg_color != null) ? String.Format("background-color:{0};", Model.Bg_color) : null)">
                <@Model.Tag style="margin: 0; @Color @Align @Weight @Font ">@Html.Raw(Model.Text)</@Model.Tag>
            </td>
        </tr>
    </tbody>
</table>
