@{
    ViewBag.Title = "Home Page";
}


<ul>
    <li><a href="/Home/Promo">Promo</a></li>
    <li><a href="/Home/Daily">Daily</a></li>
    <li><a href="/Home/Xmas_Promo">Christmass Promotion</a></li>
    <li><a href="/Home/FeatureMatrix">Feature Matrix</a></li>
    <li><a href="/Home/QA_Shops">Q&A Shops</a></li>
    <li><a href="/Home/QA_Uphold">Q&A Uphold</a></li>
    <li><a href="/Home/ZO_naklejki">ZO Naklejki</a></li>
    <li><a href="/Home/Newsletter_zapach">Newsletter - Twój zapach</a></li>
</ul>
