@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="/Home/Example">Example</a></li>
    <li><a href="/Home/dzien-dziecka">dzien-dziecka</a></li>
    <li><a href="/Home/leifheit">leifheit</a></li>
    <li><a href="/Home/dzienojca">Dzien Ojca</a></li>

</ul>