@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="/Home/Example">Example</a></li>
    <li><a href="/Home/Handmade">Handmade</a></li>
    <li><a href="/Home/Assistant">Assistant</a></li>
    <li><a href="/Home/DeepLearning">DeepLearning</a></li>
    <li><a href="/Home/Konto">Nowe konto</a></li>
    <li><a href="/Home/DoppelHerz">DoppelHerz</a></li>
    <li><a href="/Home/Alert">Alert</a></li>
    <li><a href="/Home/BlackFriday">BlackFriday</a></li>
    <li><a href="/Home/BlackFridayFinal">BlackFridayFinal</a></li>
    <li><a href="/Home/ShopMessage">Shop Message</a></li>
    <li><a href="/Home/RemarketingBasket">Remarketing koszyka</a></li>
    <li><a href="/Home/CouponCodeCards">Karty podarunkowe</a></li>
</ul>