@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="/Home/Example">Example</a></li>
    <li><a href="/Home/Handmade">Handmade</a></li>
    <li><a href="/Home/Asistant">Asistant</a></li>
</ul>